<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/css/404.css"/>


</head>

<body>
<div class="pg-index">

    <div class="hq-path">
        <div class="hq-path-content">
            <div class="pathError">
                <div class="error-img">
                    <img src="/images/404.png"/>
                </div>
                <div class="error-text">
                    <h2>你访问的页面找不到啦，可能原因：</h2>
                    <p>1.在地址栏中输入了错误的地址</p>
                    <p>2.你点击的某个链接已经过期</p>
                    <a href="/index" class="backIndex">返回首页</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>