<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <title>国金金属网</title>
    <meta name="author" content=""/>
    <link rel="stylesheet" type="text/css" href="/css/500.css"/>

</head>
<body>
<div class="hq-systemBusy">
    <div class="hq-systemBusy-content">
        <div class="system-Busy">
            <div class="busy_img">
                <img src="/images/500.png"/>
            </div>
            <div class="busy_text">
                <h2>系统繁忙，请稍后重试</h2>
            </div>
        </div>
    </div>
</div>

</body>
</html>
