<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <div class="footer">
        <div class="content">
            <div class="connect clearfix">
                <div class="fl footer-logo clearfix">
                    <a href="#" class="fl img-wrap">
                        <img class="img-responsive" src="/images/bottom-logo.png" alt="logo"/>
                    </a>
                    <div class="fl link-code">
                        <img src="/images/link-code.png" class="img-responsive" alt="code-link"/>
                    </div>
                    <div class="fl clearfix link-about">
                        <ul class="clearfix">
                            <li class="fl"><strong>友情链接</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="aboutUs inline-block-wrap text-center">
                <a class="inline-block" href="#">关于我们</a>
                <span class="inline-block icon-bar"></span>
                <a class="inline-block" href="#">产品服务</a>
                <span class="inline-block icon-bar"></span>
                <a class="inline-block" href="#">合作案例</a>
                <span class="inline-block icon-bar"></span>
                <a class="inline-block" href="#">法律声明</a>
            </div>
            <div class="copyright">
                <div class="content">
                    <ul class="clearfix">
                    </ul>
                </div>
            </div>
        </div>
        <div class="fixed_right">
            <img src="/images/right_top.png" alt="返回顶部"/>
        </div>
    </div>
</div>

</html>