<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
</head>

<body>

<!--头部-->
<!--<div th:include="layout/header :: header"/>-->

<!--注册-->
<div class="sso-box register">
    <div class="header clearfix">
        <a id="loginAid" href="#" class="f_right">登录</a>
    </div>
    <div class="content">
        <form action="">
            <div class="name">
                <span>姓&nbsp;&nbsp;名：</span>
                <input type="text"/>
                <span class="hidden width_100">您输入的名字有误</span>
            </div>
            <div class="phone">
                <span>手机号：</span>
                <input type="text" maxlength="11"/>
                <span class="hidden width_100">您输入的手机号码有误</span>
            </div>
            <div class="verify">
                <span>验证码：</span>
                <input type="text" class="width_min" maxlength="4"/>
                <button type="button">获取验证码</button>
                <span class="hidden width_100">您输入的验证码有误</span>
            </div>
            <div class="password">
                <span>设置密码：</span>
                <input type="password"/>
                <!--<span class="hidden width_100">您输入的手机号码有误</span>-->
            </div>
            <div class="passwords">
                <span>确认密码：</span>
                <input type="password"/>
                <span class="hidden width_100">您设置的密码不一致</span>
            </div>
        </form>
        <div class="protocol">
            <i></i>已阅读并接受<a href="/protocol" target="_blank">《用户服务条款》</a>
        </div>
        <div class="submit">注册</div>
        <p class="msg hidden">请填全信息后再注册</p>
    </div>
</div>

<!--footer-->
<!--<div th:include="layout/footer :: footer"/>-->

<script src="/js/jquery-1.11.3.js"></script>
<!--<script src="/js/header.js"></script>-->
<script src="/js/jquery-1.4.1.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/login.js"></script>

</body>
</html>