<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
</head>

<body>

<!--头部-->
<!--<div th:include="layout/header :: header"/>-->

<!--重置密码-->
<div class="sso-box reset">
    <div class="header">
        <h3>重置密码
        <small>(*旧版账号请致电客服找回：021-)</small></h3>
    </div>
    <div class="content">
        <form>
            <div class="phone">
                <input type="text" placeholder="请输入您的手机号码" maxlength="11"/>
                <span class="hidden width_100">您输入的手机号码有误</span>
            </div>
            <div class="message">
                <input type="text" class="width_mins" placeholder="短信验证码" maxlength="6"/>
                <button type="button">获取验证码</button>
                <span class="hidden width_100">验证码输入错误</span>
            </div>
        </form>
        <div class="submit">下一步</div>
        <p class="msg hidden">请填全信息</p>
    </div>
</div>

<!--footer-->
<!--<div th:include="layout/footer :: footer"/>-->

<script src="/js/jquery-1.11.3.js"></script>
<!--<script src="/js/header.js"></script>-->
<script src="/js/jquery-1.4.1.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/login.js"></script>

</body>
</html>